<?php

//require_once __DIR__ .  '/vendor/autoload.php';

function loader($class)
{
    $file = __DIR__ . '/src/' . $class . '.php';
    if (file_exists($file)) {
        require $file;
    }
}

spl_autoload_register('loader');
